.navigation {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-top: 20px;
    margin-right: 100px;
}

.navigation__navlink {
    color: #FDF4F2;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

li {
    margin-right: 30px;
}