.header {
    height: 350px;
    background: rgb(231,97,58);
    background: linear-gradient(90deg, rgba(231,97,58,1) 0%, rgba(221,48,56,1) 100%);
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.header-container > img {
    max-width: 120px;
}

.header-container > span {
    font-size: 40px;
    font-weight: bold;
    color: #292929;
}

.header-container h1 {
    font-size: 50px;
    padding-top: 35px;
}

.header-container h4 {
    font-size: 14px;
}