.post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;

}