@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap');

:root {
    --red: #dd3038;
    --orange: #e7613a;
    --light-orange: #FDF4F2;
    --black: #292929;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    font-family: 'Quicksand', sans-serif;
}

